.mainWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  width: 100%;
  color: var(--color-light-700);

  & .editIcon {
    width: 20px;
    height: 20px;

    &:hover {
      color: var(--color-accent-100);
    }
  }
}
