.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 3.75rem;
  padding: 0 8.5rem;

  background: var(--color-dark-700);

  & .headerTitle {
    margin: 0;

    & a {
      text-decoration: none;
    }
  }

  & .headerButton {
    cursor: pointer;
    padding: 6px 28px;
    background-color: var(--color-dark-300);
    border-radius: 4px;
  }
}
